
<p>
  <strong>price:</strong>
  <%= @detailservice.price %>
</p>

<p>
  <strong>quantity:</strong>
  <%= @detailproduct.quantity %>
</p>



<%= link_to 'Back', detailproducts_path %>

<%= link_to 'Edit', edit_detailproduct_path(@detailproduct) %>